.live-stream {
  position: relative;

  video {
    z-index: 0;
    width: 100%;
    position: relative;
    object-fit: cover;
  }

  .live-status {
    right: 5%;
    bottom: 5%;
    z-index: 1;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    .live-dot {
      color: #e01616;
      opacity: 1;
      font-size: 80%;
      padding-bottom: 1px;
      padding-right: 4px;
      animation: blinker 1.2s infinite;
    }

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }

    .live-text {
      text-transform: uppercase;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
    }
  }
}
